@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

:root {
  --primary-color: #805ad5;
  --focus-color: #34127c;
  --primary-color-hover: #815ad520;
  --error-color: #d55a5a;
  --success-color: rgb(24, 193, 136);
}
body #root .app-container {
  height: 100vh;
}

*,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  scroll-behavior: smooth;
}
textarea {
  resize: none !important;
}
caption {
  font-weight: bolder;
  font-size: larger;
}
/* svgs */
.hero-image {
  width: 300px;
  height: 300px;
}

/* toast */
.toast-container-success {
  position: fixed;
  background-color: rgb(237, 255, 249);
  border: 1px solid var(--success-color);
  color: var(--success-color);
  font-weight: bold;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
}

.toast-container-error {
  position: fixed;
  background-color: rgb(252, 172, 172);
  border: 1px solid var(--error-color);
  color: var(--error-color);
  font-weight: bold;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
}

/* buttons */
.outline-button {
  all: unset;
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  font-family: "Quicksand";
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
}

.outline-button:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}
.outline-button:focus {
  border: 2px solid var(--focus-color);
}

.link-button {
  all: unset;
  cursor: pointer;
  font-family: "Quicksand";
  font-weight: bold;
  color: var(--primary-color);
}
.link-button:focus {
  border: 2px dashed var(--focus-color);
}
.normal-button {
  all: unset;
  cursor: pointer;
  font-family: "Quicksand";
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: #fff;
  width: fit-content;
  padding: 4px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.normal-button:focus {
  border: 2px solid var(--focus-color);
}
.toast-button {
  padding: 2px;
  margin-left: 5px;
  font-weight: bold;
}

/* label */
label {
  color: var(--primary-color);
}

/* inputs */

.normal-input {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  height: 42px;
  display: block;
  width: 100%;
  padding: 8px;
}

.normal-input:focus {
  border: 1px solid var(--primary-color);
}

.error-input {
  border: 1px solid var(--error-color);
  border-radius: 8px;
  height: 42px;
  display: block;
  width: 100%;
  padding: 8px;
}

.error-input:focus {
  border: 1px solid var(--error-color);
}

/* navbar */
.navbar {
  margin: 8px;
  margin-bottom: 32px;
  min-width: max-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app-heading {
  color: #805ad5;
  font-size: 32px;
  font-family: "Pacifico";
}

.navbar .outline-button {
  padding: 8px;
}

/* home */

.home-grid-container {
  text-align: center;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lottie-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  margin: auto;
  padding: 12px;
  width: 80%;
}

.intro-text {
  font-weight: bolder;
  color: var(--primary-color);
}

.intro-text-light {
  font-weight: normal;
  color: var(--primary-color);
}

.login-container .link-button {
  margin-top: 12px;
}

.login-container .normal-button {
  margin: 12px auto;
  text-align: center;
  display: block;
  width: 50%;
}

.error-message {
  display: block;
  color: var(--error-color);
}

.login-form {
  text-align: left;
}

@media screen and (max-width: 720px) {
  .home-grid-container {
    grid-template-columns: 1fr;
  }
}

/* welcome screen */
.welcome-grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.welcome-main-box {
  grid-column: 2/3;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  margin: 15px;
  padding: 12px;
}
@media screen and (max-width: 720px) {
  .welcome-main-box {
    grid-column: 2/3;
    margin: 5px;
  }
}
.flex-date-time {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
}
.flex-date-time .intro-text-light {
  margin: 5px;
}
.welcome-main-box .intro-text {
  margin-left: 10px;
}
.capitalise {
  display: inline-block !important;
}
.capitalise:first-letter {
  text-transform: uppercase;
}
.intro-text.welcome-big-text {
  font-size: x-large !important;
}
.welcome-button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.welcome-button-container .normal-button {
  margin: 10px;
  width: 100%;
  max-width: 300px;
  height: 30px;
}

@media screen and (max-width: 720px) {
  .welcome-button-container {
    flex-direction: column;
    align-items: center;
  }
}
/* history */

.history-table-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
td {
  text-align: center;
  padding: 10px;
}
th {
  color: var(--primary-color);
}
thead {
  border-bottom: 1px solid var(--primary-color);
}
tr:nth-child(even) {
  background-color: var(--primary-color-hover);
}
td a {
  cursor: pointer;
}
/* CBTFORM */
.form-container {
  padding: 10px 30px;
}
.form-handler {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  margin-bottom: 20%;
  padding: 12px;
  overflow: auto;
}
.form-button-container {
  position: fixed;
  bottom: 0;
  z-index: 11111;
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 10px;
  left: 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
/* other forms */

.other-forms-container {
  grid-column: 2/3;
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
  margin-top: 20px;
  gap: 5;
}

.mini-form {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  width: 95%;
  padding: 10px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

.mini-form .hero-image {
  height: 100px;
  width: 150px;
}

@media screen and (max-width: 720px) {
  .mini-form .hero-image {
    height: 90px;
    width: 100px;
  }
}

/* Drawer */

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-right: none;
  border-radius: 12px 0px 0px 12px;
  min-height: 100vh;
}
.drawer .close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 10px;
}
.drawer .drawer-content {
  margin-top: 50px;
  padding: 10px;
  font-weight: bold;
  overflow: auto;
  max-height: 100vh;
}
.drawer-content span {
  background-color: var(--primary-color);
  color: #fff;
  margin: 5px;
  border-radius: 12px;
  padding: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.drawer-content div {
  margin: 5px;
  padding: 2px;
}
/* tags */
.tags {
  background-color: var(--primary-color);
  color: #fff;
  margin: 5px;
  border-radius: 12px;
  width: max-content;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  margin-top: 4px;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #fff;

  z-index: -111;
}
