.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr;

    .home-login-container {
        margin: 1em;
        padding: 2px;

        .home-login-extra {
            margin-top: 0.5em;
        }

        .login-container {


            button,
            .input-group {
                margin-top: 0.5em;
            }
        }
    }
}