.grid-container {
    display: grid;
    margin-top: 10%;
    gap: 8;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.lottie {
    width: 100%;
    height: 100%;
}

.login {
    border-width: 1px;
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    width: 80%;
}