@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

*,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}